<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="saml-cos.ZPM">
    <Module>
      <Name>saml-cos</Name>
      <Version>1.0.2</Version>
      <Description>SAML2.0 Token for Catalan HealthCare Autorities from InterSystems IRIS ObjectScript</Description>
      <Keywords>saml interoperability iris healthconnect catsalut hc3</Keywords>
      <Author>
        <Person>InterSystems Iberia</Person>
        <Organization>InterSystems</Organization>
        <CopyrightDate>2021</CopyrightDate>
        <License>MIT</License>
      </Author>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <SystemRequirements Version=">=2020.1" Interoperability="enabled" />
      <Resource Name="IBSP.CONN.SAML.PKG"/>
    </Module>
  </Document>
</Export>